In [1]:
def find_best_days(prices):
    """
    Given a list of daily stock prices, returns the best days to buy and sell stocks in order to maximize profit.
    :param prices: a list of integers representing the stock prices for each day, starting from the first day
    :return: a tuple of integers representing the best days to buy and sell stocks
    """
    n = len(prices)
    if n < 2:
        return ()
    
    buy_day, sell_day = 0, 0
    max_profit = 0
    
    for i in range(1, n):
        if prices[i] < prices[buy_day]:
            buy_day = i
        elif prices[i] - prices[buy_day] > max_profit:
            max_profit = prices[i] - prices[buy_day]
            sell_day = i
    
    if max_profit == 0:
        return ()
    else:
        return (buy_day+1, sell_day+1)

In [2]:
prices = [100, 180, 260, 310, 40, 535, 695]
best_days = find_best_days(prices)
print(best_days)  # Output: (1, 4), (5, 7)

(5, 7)

In [3]:
from typing import List, Optional

def earliest_trilogy_year(titles: List[str], years: List[int]) -> Optional[int]:
    # sort the books by their publication years
    sorted_books = sorted(zip(years, titles))
    n = len(sorted_books)
    for i in range(n - 2):
        # check if the current book and the next two books were published in consecutive years
        if sorted_books[i][0] + 1 == sorted_books[i + 1][0] and sorted_books[i + 1][0] + 1 == sorted_books[i + 2][0]:
            return sorted_books[i][0]
    return None

In [4]:
titles = ['The Hunger Games', 'Catching Fire', 'Mockingjay', 'The Lord of the Rings', 'The Two Towers', 'The Return of the King', 'Divergent', 'Insurgent', 'Allegiant']
years = [2008, 2009, 2010, 1954, 1955, 1956, 2011, 2012, 2013]
print(earliest_trilogy_year(titles, years))

1954

In [6]:
import csv

# Open the CSV file and read in the data
with open('/content/3_CSV.csv') as file:
    reader = csv.reader(file)
    # Skip the header row
    next(reader)
    # Create an empty dictionary to store the prices for each stock
    prices = {}
    # Loop through each row of the CSV file
    for row in reader:
        # Extract the symbol, date, and price from the row
        ticker, date, price = row
        # Convert the price from a string to a float
        price = float(price)
        # Check if the ticker symbol is already in the dictionary
        if ticker in prices:
            # If the ticker symbol is already in the dictionary, add the price to the list of prices for that stock
            prices[ticker].append(price)
        else:
            # If the ticker symbol is not already in the dictionary, create a new list with the first price
            prices[ticker] = [price]

# Loop through the dictionary of prices for each stock
for ticker, price_list in prices.items():
    # Calculate the highest and lowest prices for the stock
    highest_price = max(price_list)
    lowest_price = min(price_list)
    # Print the results
    print(f"{ticker}: Highest Price = ${highest_price:.2f}, Lowest Price = ${lowest_price:.2f}")

AAPL: Highest Price = $142.20, Lowest Price = $135.90
GOOG: Highest Price = $2125.50, Lowest Price = $2098.00
MSFT: Highest Price = $345.20, Lowest Price = $342.10

In [7]:
original_list = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

new_list = [list(x) for x in set(tuple(x) for x in original_list)]

print(new_list)

[[40], [33], [30, 56, 25], [10, 20]]

In [8]:
def shift_left(lst):
    if len(lst) <= 1:
        return lst
    else:
        return lst[1:] + [lst[0]]

# example usage
lst = [1, 2, 3]
shifted_lst = shift_left(lst)
print(shifted_lst)

[2, 3, 1]

In [9]:
original_list = [11, 45, 8, 11, 23, 45, 23, 45, 89, 11, 89]

count_dict = {}
for element in original_list:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

print("Printing count of each item", count_dict)

Printing count of each item {11: 3, 45: 3, 8: 1, 23: 2, 89: 2}